<html>
  <head> </head>
  <body>
    <form action="/users/resetPassword/<%=token%>" method="POST">
      <input type="password" name="password" placeholder="enter password" />
      <input
        type="password"
        name="confirmPassword"
        placeholder="confirm password"
      />
      <input type="submit" value="Reset password" />
    </form>
  </body>
</html>
