<html>
  <head> </head>
  <body>
    <h1>Enter your email to get the reset link</h1>
    <form action="/users/generateResetLink" method="POST">
      <input type="email" name="email" placeholder="your email" />
      <input type="submit" value="Send Link" />
    </form>
  </body>
</html>
