<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </head>
  <body>
    <h1>Hello user with email <%= profile_user.email %></h1>
    <!-- <% if(flash.success && flash.success.length>0){%>

    <h5><%=flash.success%></h5>
    <% } %> -->
    <form action="/users/updatePassword" method="POST">
      <input type="email" name="email" placeholder="type your current email" />
      <input
        type="password"
        name="password"
        placeholder="type previous password"
      />
      <input
        type="password"
        name="newPassword"
        placeholder="type new password"
      />
      <input type="submit" value="Update" />
    </form>

    <a href="/users/signOut"><h1>SignOut</h1></a>
    <script>
      <% if(flash.success && flash.success.length>0){%>
        new Noty({
          theme:'relax',
          text:"<%= flash.success %>",
          type:'success',
          layout:'topRight',
          timeout:1500
        }).show();
        <% } %>
    </script>
  </body>
</html>
