<html>
  <head>
    <style></style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </head>
  <body>
    <h1>Users sign Up</h1>
    <form action="/users/create" method="POST">
      <input type="text" name="name" placeholder="Ur name" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input
        type="password"
        name="confirm_password"
        placeholder="confirm_password"
        required
      />

      <input type="submit" value="Sign Up" />
    </form>
    <script>
      <% if(flash.error && flash.error.length>0){%>
        new Noty({
          theme:'relax',
          text:"<%= flash.error %>",
          type:'error',
          layout:'topRight',
          timeout:1500
        }).show();
        <% } %>
    </script>
  </body>
</html>
